beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
fastapi==0.61.1
Flask==1.1.2
Flask-Cors==3.0.9
Flask-SocketIO==4.3.1
Flask-uWSGI-WebSocket==0.6.1
gevent==20.6.2
greenlet==0.4.16
gunicorn==20.0.4
h11==0.9.0
httptools==0.1.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pydantic==1.6.1
python-engineio==3.13.2
python-socketio==4.6.0
redis==3.5.3
requests==2.24.0
six==1.15.0
slackweb==1.0.5
soupsieve==2.0.1
starlette==0.13.6
urllib3==1.25.10
uvicorn==0.11.8
uvloop==0.14.0
uWSGI==2.0.19.1
websocket-server==0.4
websockets==8.1
Werkzeug==1.0.1
zope.event==4.4
zope.interface==5.1.0
